extends layout

block head

   script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   script(type='text/javascript').

    var map;

    function initialize() {
      var mapOptions = {
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        center: new google.maps.LatLng(49.03214771988825, 0.28707396981693)
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      $( document ).ready(function()
          {
              $.ajax
              ({
                type: "GET",
                url: '/gdal',
                success: function (data) {
                  console.log(data);
                  map.data.addGeoJson(data);
                },
                error: function () {
                  console.log('process Error');
                }
              });
          });
        }

    google.maps.event.addDomListener(window, 'load', initialize);

block body
  br
  br
  br
  div#map-canvas(style="height: 600px")