extends layout
block head
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type='text/javascript').
        var map;
        var concMax;

        function initialize() {
            var mapOptions = {
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                center: new google.maps.LatLng(49.03214771988825, 0.28707396981693)
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // Call an Array of Concentration Names ( To avoid Calling it every bounds event )

            LoadPage();

            google.maps.event.addListener(map, 'idle', function () {

                // Get Bounds Data
                bounds = map.getBounds();
                var neLongitude = bounds.getNorthEast().lng();
                var neLatitude = bounds.getNorthEast().lat();
                var swLongitude = bounds.getSouthWest().lng();
                var swLatitude = bounds.getSouthWest().lng();

                // Init Maximal Concentration
                concMax = 0;

                /*
                 Send Bounds Data
                 receive a FeatureCollection
                 Clear the map
                 Put the new Data on Map
                 Style each feature (t = 0)
                 */

                $.ajax
                ({
                    cache: false,
                    type: "GET",
                    url: '/gdal',
                    data: {
                        neLatitude: neLatitude,
                        neLongitude: neLongitude,
                        swLatitude: swLatitude,
                        swLongitude: swLongitude
                    },
                    success: function (data) {
                        deletAllFeatures();
                        map.data.addGeoJson(data);
                        map.data.setStyle(styleFeature);
                    },
                    error: function () {
                        console.log('process Error');
                    }
                });
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        // Load Page (Get an Array of Concentration names )

        var LoadPage = function () {
            $(document).ready(function () {
                $.ajax
                ({
                    type: "GET",
                    url: '/Conc',
                    success: function (data) {
                        ConcName = data;
                    },
                    error: function () {
                        console.log('process Error');
                    }
                });
            });
        };

        // Delet All Features

        var deletAllFeatures = function () {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
        };

        // Map Colors at T = 0

        function styleFeature(feature) {
            if (feature.getProperty(ConcName[0]) > concMax) {
                concMax = feature.getProperty(ConcName[0]);
            }
            feature.setProperty(ConcName[0], feature.getProperty(ConcName[0]) + (255 - concMax));
            return {
                fillColor: 'rgb(' + 0 + ',' + 0 + ',' + feature.getProperty(ConcName[0]) + ')',
                fillOpacity: 0.55,
                strokeWeight: 0
            };
        }
block body
    br
    br
    br
    div#map-canvas(style="height: 600px")