extends layout
block head
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type='text/javascript').

        var map;
        var ConcMaxTab = new Array();
        var ConcName = new Array();

        function initialize() {
            var mapOptions = {
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                center: new google.maps.LatLng(49.03337869061837, 0.28986346719240164)
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // Call an Array of Concentration Names ( To avoid Calling it every bounds event )

            LoadPage();

            google.maps.event.addListener(map, 'idle', function () {

                // Get Bounds Data
                bounds = map.getBounds();
                var neLongitude = bounds.getNorthEast().lng();
                var neLatitude = bounds.getNorthEast().lat();
                var swLongitude = bounds.getSouthWest().lng();
                var swLatitude = bounds.getSouthWest().lng();


                /*
                 Send Bounds Data
                 receive a FeatureCollection
                 Clear the map
                 Put the new Data on Map
                 */

                $.ajax

                    ({
                            cache: false,
                            type: "GET",
                            url: '/gdal',
                            data: {
                                neLatitude: neLatitude,
                                neLongitude: neLongitude,
                                swLatitude: swLatitude,
                                swLongitude: swLongitude
                            },
                            success: function (data) {

                                deletAllFeatures();
                                map.data.addGeoJson(data);

                                for (var i = 0; i < ConcName.length; i++) {

                                    var MaxConc = 0;
                                    map.data.forEach(function(feature) {

                                        if (feature.getProperty(ConcName[i]) > MaxConc)
                                          {
                                            MaxConc = feature.getProperty(ConcName[i]);
                                        }
                                    });

                                    ConcMaxTab.push(MaxConc);
                                };
                            },
                            error: function () {
                                console.log('process Error');
                            }
                    });

            });

            // Concentrations at T = 0

            map.data.setStyle(styleFeature);

            function styleFeature(feature) {

                    feature.setProperty(ConcName[0], feature.getProperty(ConcName[0]) + (255 - ConcMaxTab[0]));

                    return {
                        fillColor: 'rgb(' + parseInt(feature.getProperty(ConcName[0])) + ',' + 0 + ',' + 0 + ')',
                        fillOpacity: 0.75,
                        strokeWeight: 0
                    };
            };
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        // Load Page (Get an Array of Concentration names )

        var LoadPage = function () {
            $(document).ready(function () {
                $.ajax
                ({
                    type: "GET",
                    url: '/Conc',
                    success: function (data) {
                        ConcName = data;
                    },
                    error: function () {
                        console.log('process Error');
                    },
                    async : false
                });
            });
        };

        // Delet All Features

        var deletAllFeatures = function () {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
        };

        var Propagation = function() {


            var i = 0;
            var interval = setInterval(function () {
                map.data.setStyle(function(feature) {

                    feature.setProperty(ConcName[i], feature.getProperty(ConcName[i]) + (255 - ConcMaxTab[i]) );
                    return {

                        fillColor: 'rgb(' + parseInt(feature.getProperty(ConcName[i])) + ',' + 0 + ',' + 0 + ')',
                        fillOpacity: 0.75,
                        strokeWeight: 0

                    };

                });

                i++;
                if (i >= (ConcName.length -1)) clearInterval(interval);

            }, 0.5);

        };


block body
    br
    br
    br
    div#map-canvas(style="height: 600px")
    br
    br
    button#Black(
    title='Propagation',
    type='submit'
    style='width: 120px; height: 23px; ;'
    onclick= 'Propagation()',
    ) Propagation